:root {
    --Sidebar-Width: 500px;
    --NavLinks-Spacing: 0px;
    --Body-Font-Size: 13px;
    --SmallCaps-Font-Family: "Work Sans";
}

body {
    font-family: Work Sans;
    margin: 0;
    background-color: #020202;
    background-image: url(http://64.media.tumblr.com/59925c26ac14bb36554827d2c396a3a2/33dde9333027022b-4e/s2048x3072/1c9cb3b0d1c220e8ddb92500e853937c44fb370c.png);
    background-attachment: fixed;
    overflow: hidden;
    overscroll-behavior-y: none;

}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--Sidebar-Width);
    height: 100vh;
    background-image: url("/bannerraw.jpg");
    background-size: cover;
    background-position: bottom left;
    background-color: #000007;
}

#sidebarcontainer {
    position: absolute;
    margin: auto;
    margin-left: calc(var(--Sidebar-Width) * 0.125);
    bottom: 0;
    margin-bottom: 35px;
    width: calc(100% - ((var(--Sidebar-Width) * 0.125) * 2));
    z-index: 1;
}

#links {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(0px - (var(--NavLinks-Spacing) / 2));
    margin-left: calc(0px - (var(--NavLinks-Spacing) / 2));
    margin-bottom: calc(0px - (var(--NavLinks-Spacing) / 2));
    width: calc(100% + var(--NavLinks-Spacing));
}

#links a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc(var(--NavLinks-Spacing) / 2);
    width: calc((100% - (var(--NavLinks-Spacing) * 4)) / 4);
    /* 4 is the number of links in the sidebar */
    padding: 7px;
    background: rgba(0, 0, 7, calc(1 - 0.4));
    backdrop-filter: blur(3px);
    border: 1px solid #383838;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    transition: 0.25s ease-in-out;
    text-decoration: none;
}

#links a:hover {
    background: rgba(0, 0, 7, calc(1 - (0.4 / 1.420)));
}

#links span {
    display: block;
    font-family: var(--SmallCaps-Font-Family);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #c8bdbb;
}

#desc {
    width: 100%;
    padding: 13px;
    background: rgba(0, 0, 7, calc(1 - 0.4));
    backdrop-filter: blur(3px);
    border: 1px solid #222;
    box-sizing: border-box;
}

#desc p {
    color: #fa8072;
    font-size: calc(var(--Body-Font-Size) - 1px);
    line-height: 170%;
    text-align: center;
}

#separator {
    display: table-cell;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: var(--Sidebar-Width);
    width: 40px;
    height: 100vh;
    background-color: #000007;
    display: table;
    z-index: 13;
}

#maincontainer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    left: 0;
    margin-left: calc(var(--Sidebar-Width) + 100px);
    width: calc(100% - var(--Sidebar-Width) - 200px);
}

.maincontent {
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    padding: 5px;
    background: #070707;
    border: 1px solid #222222;
}

.maincontent p {
    line-height: 150%;
    margin: 1em;
    color: #a9a9a9;
    font-size: small;
}

.maincontent h1 {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    border: 1px solid #222;
}

.maincontent span {
    text-align: center;
    color: #a9a9a9;
    margin: 0.5em;
    font-size: large;
    text-transform: uppercase;
}

.maincontent a {
    color: #e95746;
}

.maincontent a:hover {
    color: #fa8072;

}

#time_box {
    width: 120px;
    height: 88px;
    padding: 20px;
    padding-left: 30px;
    border-radius: 0px 0px 3px 3px;
    border: 1px solid #222222;
    background-color: #070707;
    left: 40px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .10);
    top: 30px;
    font-size: 12px;
    color:#444444;
    text-transform: uppercase;
    text-align: left;
    position: fixed;
    z-index: 99;
}
#clock {
    text-align: left;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    color: #555555;
    font-family: 'khula', sans-serif;
}

#clock_wrap {
    display: inline-block;
    position: fixed;
    font-size: 10px;
    margin-left: 0px;
    text-align: left;
}
